<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="/js/application.js"></script>
    <script defer src="/js/cart.js"></script>

  </head>
  <body>
    <header>
      {{#if isAuthorized}}
        <a href="/logout">Разлогин</a>
        <p>Привет, !</p>
      {{else}}
        <a href="/login">логин</a>
        <a href="/reg">зарегься</a>
        <p>ты не залогился, !</p>
      {{/if}}
    </header>
    {{{body}}}

  </body>
</html>
