<div class="logPage">
  <div class="registration">
    
<div class="pink">
  <form method="post" action="/logindel" class="login" name="regDevForm">
    <div class="login">
      <p>
        <label for="login">Логин:</label>
        <input name="email" type="email" placeholder="Ваш e-mail" id="email" autofocus
    required>
      </p>
    </div>
    <div class="password">
      <p>
        <label for="password">Пароль:</label>
        <input id="password" name="password" type="password" placeholder="Введите пароль"/>
      </p>
    </div>
    
        <p class="login-submit">
          <button type="submit" class="login-button">Войти</button>
        </p>
      </form>
</div>
⬥
  </div>
</div>