<div class="regpage">
  <div class="registration">
    ⬥
<div class="pink">
  <form method="post" action="/dely" class="login">
    <div class="email">
        <label for="name">Имя:</label>
        <input type="text" name="name" id="name" placeholder="  ваше имя">
      </p>
    </div>
    <div class="login">
      <p>
        <label for="email">Логин:</label>
        <input type="text" name="email" id="email" placeholder="  придумайте логин">
      </p>
    </div>
    <div class="password">
      <p>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" placeholder="  придумайте пароль">
      </p>
    </div>
    
        <p class="login-submit">
          <button type="submit" class="login-button">Зарегистрироваться</button>
        </p>
    
        <!-- <p class="forgot-password"><a href="index.html">Забыл пароль?</a></p> -->
      </form>
</div>
⬥
  </div>
</div>
