<h1>Регистрация курьера</h1>
<form name="regDevForm" method="POST" action="/deli">
  <input name="name" type="text" placeholder="Ваше имя" autofocus required />
  <input name="email" type="email" placeholder="Ваш e-mail" />
  <input name="password" type="password" placeholder="Пароль" />
  <button type="submit">Зарегистрироваться</button>
</form>
