<h1>Регистрация</h1>
<form name="registrationForm" method="POST" action="/reg">
  <input name="username" type="text" placeholder="Ваше имя" autofocus required/>
  <input name="email" type="email" placeholder="Ваш e-mail" />
  <input name="password" type="password" placeholder="Пароль" />
  <input name="address" type="address" placeholder="Адрес" />
  <button type="submit">Зарегистрироваться</button>
</form>
