@import url('https://fonts.googleapis.com/css?family=Arimo');
* {
  font-family: 'Arimo', sans-serif;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}
.top-menu {
  display: flex;
  margin: 20px;
  /* box-shadow: 3px 0 14px #5f3d66; */
  border: 5px solid #8158c4;
  border-radius: 30px;
  align-items: center;
  justify-content:space-between;
  width: auto;
  padding-right: 40px;
}
/* .top-menu:after {
  content: "";
} */
.navbar-logo {
  display: flex;
  width: 150px;
  height: 150px;
  padding-left: 10px;
  margin-top: 10px;
}
.menu-main {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {
  display: inline-block;
}
.menu-main a {
  text-decoration: none;
  display: flex;
  position: relative;
  line-height: 61px;
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 2px;
  /* font-family: 'Arimo', sans-serif; */
  font-weight: bold;
  color: #8158c4;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #8158c4;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {
  opacity: 1;
}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {
  padding: 0 10px;
}
.menu-main a:before {
  transform: rotate(45deg) translateX(-6px);
}
}
@media (max-width: 600px) {
.menu-main li {
  display: flex;
}
}



.animImg {
  /* font-family: 'Muli', sans-serif; */
  overflow: hidden;
  margin: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 30vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  flex: 1;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
  display: flex;
  align-items:center;
  justify-content:space-around;
  /* font-family: 'Arimo', sans-serif; */
  font-weight: bold;
  color: #8158c4;
  font-size: 25px;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
/* .logo {
  margin: 15% 0 ;
  font-size: 40px;
  font-weight: bolder;
  color: rgba(252, 252, 252, 0.897);
} */
.name {
  color:#8158c4;
  display: flex;
  align-items:center;
  justify-content:space-around;
  /* font-family: 'Arimo', sans-serif; */
  color: #8158c4;
  font-size: 45px;
  margin-left: 10px;
  padding-left: 15px;
}


.news {
  margin: 30px 10px 30px 65px;
  font-size: 35px;
  color: #8158c4;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

.img-group1 {
  display: flex;
  justify-content:space-around;
  position: relative;
  color: #8158c4;
  text-align: center;
  font-size: 25px;
}

.img-group1 img {
  display: flex;
  width: 250px;
  height: 240px;
  border-radius: 5%;
  margin: 10px 20px;
  justify-content:space-around;
  position: relative;
  border: 5px solid #8158c4;
}
.img-group2 {
  display: flex;
  justify-content:space-around;
  position: relative;
  color: #8158c4;
}
.regpage {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center; 
  justify-content: center;
}
.logPage {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
  }
.registration {
  display: flex;
  margin: 20px;
  /* box-shadow: 3px 0 14px #5f3d66; */
  border: 5px solid #8158c4;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  width: 400px;
  max-width:450px;
  justify-content:space-around;
  position: relative;
  color: #8158c4;
  text-align: end;
  font-size: 30px;
}

input {
  border-radius:30px;
  height: 21px;
  padding-top: 6px;
}

.login-button {
  border-radius: 30px;
  align-items: center;
}
.pink {
  display: flex;
  margin: 20px;
  /* box-shadow: 3px 0 14px #5f3d66; */
  border: 5px solid #d67bb0d8;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  width: 350px;
  max-width:350px;
  justify-content:space-around;
  position: relative;
  color: #8158c4;
  text-align: end;
  font-size: 30px;
}
.romb{
  color: #e68b9ef5;
}
/* p.romb{
  animation: 15s linear 1s normal none infinite running rot;
  -webkit-animation: 15s linear 0s normal none infinite running rot;
  width: 100px;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.footer {
  border-top: 5px solid #8158c4;
  border-radius: 3px;
  margin-top: 80px;
  padding-left: 80px;
}

.regImg {
  display: flex;
  margin: 20px;
  /* box-shadow: 3px 0 14px #5f3d66; */
  border-radius: 35px;
  align-items: center;
  justify-content:space-between;
  width: auto;
  max-height: 230px;
  background: #ecc78488 ;
  border-radius: 30px;
  animation: background 10s infinite alternate;
}

.regImg img {
  border-radius: 24px;
  height: 190px;
  padding-top: 5px;
}
.regText {
  font-size: 35px;
  color: #8158c4;
  font-weight: bold;
  display: flex;
  text-align: center;
}
.copy {
  padding: 20px 600px;
}

.parent {
  display: flex;
  align-items: center;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  font-size: 35px;
  color: #8158c4;
  font-weight: bold;
  display: flex;
  text-align: center;
}
.maps {
  border-radius: 30px;
  max-width: 810px;
  min-width: 500px;
  margin-top: 30px;
  z-index: 1;
}
.ymaps-2-1-79-inner-panes {
  border-radius: 30px;
}
.maps script {
  border-radius: 30px;
  width: 800px;
  height: 500px;
  background-color: none;
}
#map {
  border-radius: 30px;
}
.work {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:  #8158c4;
  border-radius: 30px;
  width: 150px;
  height: 45px;
  z-index: 1;
  text-align: center;
  font-size: 16px;
  background: linear-gradient(to left,#e68b9ef5,#926fc9);
  margin-left: 15px;
  cursor: pointer;
}
.buttonText {
  color: rgb(253, 243, 224);
  font-weight: bold;
}

.buttonDeli {
  font-size: 12px;
}
/* .work  {
  animation:slide 4.5s ease-in-out infinite alternate;
  background-image: linear-gradient(-55deg,rgba(0, 12, 27, 0.966)  40%,rgba(59, 0, 126, 0.877) 70%);
  bottom:0;
  left:-50%;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}
.work  {
  animation-direction:alternate-reverse;
  animation-duration:4.5s;
}
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
} */
.work  {
  background: rgba(240, 179, 88, 0.884);
  box-shadow: 0 -200px 100px -120px #926fc9 inset;
  border-radius: 30px;
  animation: background 3s infinite alternate;
}

@keyframes background {
  50% {
    box-shadow: 0 -200px 100px -100px #e68b9fcc inset;
  }
}
.plus1 {
  color: rgb(255, 185, 79);
  font-size: 64px;
  z-index: 1;
  position: absolute;
  margin: 20px 210px 75px 50px;
}
.plus {
  color: rgb(255, 185, 79);
  font-size: 64px;
  z-index: -2;
  position: absolute;
  margin: 20px -113px -33px 50px;
}
